/*	Reset  compass/reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* B A S E ========================= */
html {
  font: 16px sans-serif;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

*::-moz-selection {
  color: #fff;
  background-color: #3D87E4;
}
*::selection {
  color: #fff;
  background-color: #3D87E4;
}

a {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px dotted #888;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 37px;
  text-transform: uppercase;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

iframe {
  width: 100%;
}

label {
  display: inherit;
}

.hidden {
  visibility: hidden;
  display: none;
}

@font-face {
  font-family: "test_task";
  src: url('../fonts/test_task.eot?cpjiz5&1453715566');
  src: url('../fonts/test_task.eot?cpjiz5?&1453715566#iefix') format('embedded-opentype'), url('../fonts/test_task.ttf?cpjiz5&1453715566') format('truetype'), url('../fonts/test_task.woff?cpjiz5&1453715566') format('woff'), url('../fonts/test_task.svg?cpjiz5&1453715566#test_task') format('svg');
}
i.f {
  font-family: 'test_task';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-el-clock:before {
  content: "\31";
}

.icon-el-waves:before {
  content: "\32";
}

.icon-logo:before {
  content: "\33";
}

.icon-m-close:before {
  content: "\34";
}

.icon-m-ellipse:before {
  content: "\35";
}

.icon-m-menu:before {
  content: "\36";
}

.icon-m-rectangle:before {
  content: "\37";
}

.icon-m-romb:before {
  content: "\38";
}

.icon-m-triangle:before {
  content: "\39";
}

.icon-soc-facebook:before {
  content: "\71";
}

.icon-soc-twitter:before {
  content: "\77";
}

.icon-u-arrow-to-down:before {
  content: "\65";
}

.icon-u-arrow-to-left:before {
  content: "\72";
}

.icon-u-arrow-to-right:before {
  content: "\74";
}

.icon-u-play:before {
  content: "\79";
}

.icon-u-search:before {
  content: "\75";
}

.header-primary {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .header-primary {
    height: 750px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header-primary {
    height: 770px;
  }
}
@media (min-width: 1200px) {
  .header-primary {
    height: 900px;
  }
}

@media (max-width: 767px) {
  .back-to-fit {
    background: url("../img/background-mobile.jpg") no-repeat scroll center top/cover;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .back-to-fit {
    background: url("../img/background-tablet.jpg") no-repeat scroll center top/cover;
  }
}
@media (min-width: 1200px) {
  .back-to-fit {
    background: url("../img/background-desktop.jpg") no-repeat scroll center top/cover;
  }
}
.nav-bar {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  max-width: 1360px;
}
.nav-bar a {
  color: #949494;
  border-bottom: none;
}
.nav-bar a:hover {
  color: #f84444;
}
.nav-bar .logo {
  float: left;
}
.nav-bar .ui {
  float: right;
}
.nav-bar .ui ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-bar .ui ul li {
  display: inline-block;
}
.nav-bar .ui li {
  padding-left: 18px;
}

.head-title {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
}

.slide-bottom {
  position: absolute;
  bottom: 3%;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  animation: 1.5s ease 0s normal none infinite running bobber;
}
.slide-bottom a {
  color: white;
  border-bottom: none;
}
.slide-bottom a:hover {
  color: #f84444;
}
