$icon-el-clock: "\31";
$icon-el-waves: "\32";
$icon-logo: "\33";
$icon-m-close: "\34";
$icon-m-ellipse: "\35";
$icon-m-menu: "\36";
$icon-m-rectangle: "\37";
$icon-m-romb: "\38";
$icon-m-triangle: "\39";
$icon-soc-facebook: "\71";
$icon-soc-twitter: "\77";
$icon-u-arrow-to-down: "\65";
$icon-u-arrow-to-left: "\72";
$icon-u-arrow-to-right: "\74";
$icon-u-play: "\79";
$icon-u-search: "\75";
