// colors
$brand-color: rgb(248, 68, 68);
$base-color: rgb(148, 148, 148);
$alt-color: rgb(44, 46, 55);

// fonts
$font-primary: Raleway, sans-serif;
$font-secondary: OpenSans, sans-serif;

// input dimensions
$input-large: 23px;
$input-medium: 20px;
$input-small: 14px;

// Media Queries
$tablet-width: 768px;
$desktop-width: 1200px;