footer.footer-primary
	.content
		.wrap
			.narrow
				.logo
					a(href="/" title="frostbite")
						i.f.icon-logo
			.wide
				.inner
					ul
						+menuF(footer1)
				.inner
					ul
						+menuF(footer2)
			.item.wide-last.newsletter
				p 
					span Join Our newsletter
				p Join up and get notified about new products, updates and special offers.
				input(type='text', placeholder='Enter your email', name='email')
			.item.narrow-bottom
				p.follow
					a(href="/")
						i.f.icon-soc-facebook
					a(href="/")
						i.f.icon-soc-twitter