header.header-primary.back-to-fit
	.nav-bar
		.logo
			a(href="/" title="frostbite")
				i.f.icon-logo
		.ui
			ul
				li
					a(href="/")
						i.f.icon-u-search
				li
					a(href="/")
						i.f.icon-m-menu
	.head-title
		a.btn-primary inside our studio
		h1.animated.slideInUp frostbite
	.slide-bottom
		a(href="#welcome")
			i.f.icon-u-arrow-to-down