- var title = 'frostbite';
- var styles = ['https://fonts.googleapis.com/css?family=Raleway:800,700,600,500|Open+Sans:400,400italic','css/animate.css','lib/owlcarousel/assets/owl.carousel.css','css/inline.css','css/main.css'];
- var scripts = [''];
- var menuItem = ["Item_1","Item_2","Item_3"];

- var teamImg = ["img/01.jpg","img/02.jpg","img/03.jpg","img/04.jpg","img/05.jpg","img/06.jpg"];
- var ItemImg = ['img/clients/p-slack.png','img/clients/p-adobe.png','img/clients/p-google.png','img/clients/p-facebook.png','img/clients/p-spotify.png','img/clients/p-nike.png',];
- var footer1 = ['Our Team', 'Contact Us', 'Support', 'Blog'];
- var footer2 = ['Exclusive Offers','Licencing','Privacy Policy','Refund Policy']